{% extends "atm/base.html" %}
{% load static %}
{% block title %} Login Customers {%  endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title text-center mb-0">Login</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'loginCustomer' %}" method="post">
                        {% csrf_token %}
                        {{ form }}

                        <div class="container text-center mt-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a href="{% url 'index' %}" class="btn btn-success">
                                <i class="fa fa-home"></i> Home Page
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}