{% extends "atm/base.html" %}
{% block title %} Login Customers {%  endblock %}

{% block content %}
<div class="page-title">
        <h3 class="text-center">Login</h3>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="text-center">Login</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="{% url 'atm:loginCustomer' %}" method="post">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% csrf_token %}
                        {{ form }}

                        <div class="container text-center mt-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}