{% extends "atm/base.html" %}
{% load static %}
{% block title %} ATM {%  endblock %}

{% block content %}

<h1 class="text-center">Wellcome to ATM</h1>

 <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <a href="{% url 'transaction' %}" class="btn btn-primary btn-lg mb-2">Make A Transaction</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'loginCustomer' %}" class="btn btn-primary btn-lg mb-2">Start as SuperUser</a>
            </div>
        </div>
    </div>

{% endblock %}

