{% load gentelellamenu gtsettings %}
<div class="left_col overflow-hidden">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{% url 'home' %}" class="site_title"><i class="{% get_settings 'sidebar_icon' 'fa fa-spinner' %}"></i>
            <span>{% get_settings 'sidebar_title' 'ATM' %}</span></a>
    </div>

    <div class="clearfix"></div>

    <br>
    {% sidebar_menu %}
    <div id="sidebar-menu" class="main_menu_side d-print-none main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                {% if user.is_authenticated %}
                <li>
                    <a>
                        Manage Clients
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="{% url 'atm:clients' %}" class="nav-link">Clients List</a>
                        </li>
                        <li>
                            <a href="{% url 'atm:accounts' %}" class="nav-link">
                                Clients Accounts
                            </a>
                        </li>
                    </ul>

                </li>

                <li>
                    <a class="nav-link" href="{% url 'atm:transactionLog' %}">
                        Transaction logs
                    </a>
                </li>
                {% elif not user.is_authenticated %}
                <li>
                    <a href="{% url 'atm:index' %}" class="nav-link">Make A Transaction</a>
                </li>
                {% endif %}

            </ul>
        </div>

        <div class="sidebar-footer hidden-print nohidden">
            {% if user.is_authenticated %}
            <form action="{% url 'logout'%}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-secondary">
                    <span class="fa fa-sign-out" aria-hidden="true"> Logout </span>
                </button>
            </form>

            {% elif not user.is_authenticated %}
            <button onclick="window.location.href='{% url 'login' %}';" class="btn btn-outline-secondary">
                <span class="fa fa-sign-in" aria-hidden="true"> Login </span>
            </button>
            {% endif %}
        </div>

    </div>

</div>