{% extends "atm/base.html" %}
{% block title %} ATM {%  endblock %}

{% block content %}
<div class="page-title">
        <h3 class="text-center">ATM</h3>
</div>

<div class="container">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="text-center">Withdraw Money</h2>
                        <div class="clearfix"></div>
                    </div>

                    {% if error %}
                    <div class="alert alert-danger text-center mt-4">
                        <i class="fa fa-exclamation-triangle"></i> {{ error }}
                    </div>
                    {% elif message %}
                    <div class="alert alert-success text-center mt-4">
                        <i class="fa fa-check-circle"></i> {{ message }}
                    </div>
                    {% endif %}

                    <div class="x_content">
                        <form action="{% url 'atm:index' %}" method="post">
                            {% csrf_token %}
                            {{form}}
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-save"></i> Get
                                    Money
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

