{% extends "atm/base.html" %}
{% load static %}
{% block title %} Account {%  endblock %}

{% block content %}
<div class="page-title mb-2">
    <h3 class="text-center">Create New Client Account</h3>
</div>

<div class="clearfix"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="text-center"><i class="fa fa-user-plus"></i> Add Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="{% url 'atm:createAccount' %}" method="post">
                        {% csrf_token %}

                        {{ form }}

                        <div class="ln_solid"></div>

                        <div class="text-center mt-3">
                            <a href="{% url 'atm:accounts' %}" class="btn btn-secondary"><i
                                    class="fa fa-arrow-left"></i> Back</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}